<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:include="fragments/sidebar"></th:block>
		<!-- Main Panel -->
		<div class="main-panel">
			<th:block th:include="fragments/navbar"></th:block>
			<!-- Begin Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 class="title">Category</h4>
									<p class="category">shows all available categories</p>
								</div>
								<div class="content table-responsive table-full-width">
									<table class="table table-striped">
										<thead>
											<th>ID</th>
											<th>Name</th>
											<th></th>
											<th></th>
										</thead>
										<tbody>
											<tr th:each="item : ${categories}">
												<td th:text="${item.id}"></td>
												<td th:text="${item.name}"></td>
												<td><a th:href="@{'/backend/category/edit/' + ${item.id}}"
													class="btn btn-default">Edit</a></td>
												<td><a
													th:href="@{'/backend/category/delete/' + ${item.id}}"
													class="btn btn-danger">Delete</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.container-fluid -->
						</div>
						<!-- /.content -->
					</div>
					<!-- End of Main Panel -->
					<th:block th:include="fragments/footer"></th:block>
				</div>
				<th:block th:include="fragments/scripts"></th:block>
</body>
</html>