<div class="footer-container" xmlns:th="http://www.thymeleaf.org">
  
   <footer class="footer mt-5 bg-light border-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mt-5 mb-5">
                            <div class="accordion w-100 d-lg-flex" id="accordion">
                                <div class="col-lg-4 col-md-12">
                                    <a href="#one" data-toggle="collapse"
                                        class="h5 text-dark nav-link p-0 d-block d-lg-none d-xl-none border-bottom p-3">Useful
                                        Links <span class="fas fa-chevron-down float-right"></span></a>
                                    <h6 class="p-0 d-none d-lg-block d-xl-block font-weight-bold">
                                        FOOTER CONTENT
                                    </h6>
                                    <div class="collapse d-lg-flex border-right" id="one" data-parent="#accordion">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <p style="padding: 25px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                    Necessitatibus voluptas vero temporibus. Molestias exercitationem
                                                    molestiae explicabo ad ducimus autem. Eius natus quam eaque qui
                                                    amet. Ullam, obcaecati. Dolore, eius ad!</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <a href="#two" data-toggle="collapse"
                                        class="h5 text-dark nav-link p-0 d-block d-lg-none d-xl-none border-bottom p-3">Two
                                        <span class="fas fa-chevron-down float-right"></span></a>
                                    <h6 class="p-0 d-none d-lg-block d-xl-block font-weight-bold">
                                        Address
                                    </h6>
                                    <div class="collapse d-lg-flex" id="two" data-parent="#accordion">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark text-left" href="#">Địa chỉ: 318DSTK, TP.Đà Nẵng</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark text-left" href="#">Điện thoại: 0353528527</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark text-left" href="#">Email: huytlpd03015fpt.edu.vn</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="col-lg-2 col-md-12">
                                    <a href="#four" data-toggle="collapse"
                                        class="h5 text-dark nav-link p-0 d-block d-lg-none d-xl-none border-bottom p-3">Connect
                                        with us <span class="fas fa-chevron-down float-right"></span></a>
                                    <h6 class="p-0 d-none d-lg-block d-xl-block font-weight-bold">
                                        Connect with us
                                    </h6>
                                    <div class="collapse text-white d-lg-flex" id="four" data-parent="#accordion">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="row social-icon">
                                                <a class="nav-link text-dark h2" href="#"><i
                                                        class="fab fa-instagram icon-scale"></i></a>
                                                <a class="nav-link text-dark h2" href="#"><i
                                                        class="fab fa-youtube icon-scale"></i></a>
                                                <a class="nav-link text-dark h2" href="#"><i
                                                        class="fab fa-facebook-f icon-scale"></i></a>
                                                <a class="nav-link text-dark h2" href="#"><i
                                                        class="fab fa-twitter icon-scale"></i></a>
                                                <a class="nav-link text-dark h2" href="#"><i
                                                        class="fab fa-linkedin-in icon-scale"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </footer>
     
</div>