<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>THƯ VIỆN TRỰC TUYẾN</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Link css -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" /> -->
<link rel="stylesheet" th:href="@{../css/style.css}">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- link fontawesome -->
<script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
<!-- AngularJS CDN -->
<script type="text/javascript"
	th:src="@{https://code.angularjs.org/1.8.0/angular.min.js}"></script>
<script type="text/javascript"
	th:src="@{https://code.angularjs.org/1.8.0/angular-route.min.js}"></script>
<script type="text/javascript"
	th:src="@{https://code.angularjs.org/1.8.0/angular-resource.min.js}"></script>
<!-- Sweetalert CDN -->
<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@10}"></script>
</head>
<body>
	<div class="container">
		<th:block th:include="/_header"></th:block>
		<th:block th:include="/_menu"></th:block>

		<div class="page-title" align="center">
			<h2>Product List</h2>
		</div>
		<div class="row">
			<div class="column" th:each="prodInfo : ${paginationProducts.list}">
				<div class="card">
					<img class="product-image" style="max-height: 218px; height: 218px"
						th:src="@{|/productImage?code=${prodInfo.code}|}" />
					<p>
						Code: <span th:utext="${prodInfo.code}"></span>
					</p>
					<p>
						Name: <span th:utext="${prodInfo.name}"></span>
					</p>
					<p>
						Price: <span
							th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
					</p>

					<a class="addcard" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy
						Now</a>

					<!-- For Manager edit Product -->
					<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">

						<a style="color: red;"
							th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit
							Product</a>

					</th:block>

				</div>
			</div>
		</div>
		<br />
		<div class="page-navigator" align="center"
			th:if="${paginationProducts.totalPages > 1}">
			<th:block th:each="page : ${paginationProducts.navigationPages}">

				<a class="active" th:href="@{|/productList?page=${page}|}"
					th:if="${page != -1}" th:utext="${page}"></a>

				<span class="nav-item" th:if="${page == -1}"> ... </span>
				<style>
.page-navigator {
	display: inline-block;
}

.page-navigator a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.page-navigator a.active {
	background-color: #495057;
	color: white;
}

.page-navigator a:hover:active {
	background-color: #ddd;
}
</style>
			</th:block>
		</div>

		<th:block th:include="/_footer"></th:block>
	</div>
</body>
</html>